### **TAREA: Feed Forward Neural Network**

### **1. Introducción**

En esta tarea, aplicaremos una red neuronal feedforward al conjunto de datos *"Heart Failure Clinical Records"* para predecir eventos de muerte en pacientes. Este enfoque nos permitirá capturar relaciones complejas entre las variables clínicas y mejorar la precisión predictiva en comparación con modelos más simples.

### **2. Objetivo**

- Construir un modelo basado en redes neuronales feedforward para la predicción de eventos adversos en pacientes con insuficiencia cardíaca.
- Optimizar y evaluar el modelo mediante métricas de rendimiento relevantes, como la precisión y la matriz de confusión.

### **3. Metodología**

El proyecto está dividido en cuatro etapas principales:

1. Preparación del Conjunto de Datos
   - Descarga y limpieza del conjunto de datos.
   - Escalado de características y división en conjuntos de entrenamiento y prueba.

2. Diseño de la Arquitectura de la Red Neuronal
   - Selección del número de capas, neuronas y funciones de activación.
   - Compilación del modelo con un optimizador y función de pérdida adecuados.

3. Entrenamiento de la Red Neuronal
   - Configuración de parámetros de entrenamiento, como el número de ciclos de entrenamiento y el tamaño del lote.
   - Monitoreo de métricas durante el entrenamiento (pérdida y precisión).

4. Evaluación del Modelo
   - Validación en el conjunto de prueba.
   - Visualización del rendimiento (precisión, pérdida) y análisis de la matriz de confusión

#### **Preparación del Conjunto de Datos**

Para garantizar un rendimiento óptimo del modelo, es esencial preprocesar y normalizar los datos. Esto incluye la separación de las características y la variable objetivo, la normalización de las características y la división de los datos en conjuntos de entrenamiento y prueba.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tensorflow as tf
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from ucimlrepo import fetch_ucirepo

In [2]:
# Fetch Dataset
heart_failure_clinical_records = fetch_ucirepo(id=519)

# Separación de características y objetivo
X_features = heart_failure_clinical_records.data.features
y_targets = heart_failure_clinical_records.data.targets

In [3]:
# Concatena características y objetivo en un DataFrame
new_df = pd.concat([X_features, y_targets], axis=1)
new_df.head(10)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,death_event
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1
3,50.0,1,111,0,20,0,210000.00,1.9,137,1,0,7,1
4,65.0,1,160,1,20,0,327000.00,2.7,116,0,0,8,1
5,90.0,1,47,0,40,1,204000.00,2.1,132,1,1,8,1
6,75.0,1,246,0,15,0,127000.00,1.2,137,1,0,10,1
7,60.0,1,315,1,60,0,454000.00,1.1,131,1,1,10,1
8,65.0,0,157,0,65,0,263358.03,1.5,138,0,0,10,1
9,80.0,1,123,0,35,1,388000.00,9.4,133,1,1,10,1

In [4]:
print(new_df.isnull().sum())

age                         0
anaemia                     0
creatinine_phosphokinase    0
diabetes                    0
ejection_fraction           0
high_blood_pressure         0
platelets                   0
serum_creatinine            0
serum_sodium                0
sex                         0
smoking                     0
time                        0
death_event                 0
dtype: int64

#### **Escalado y División de Datos**

In [4]:
X = new_df.iloc[:, :-1].values
y = new_df.iloc[:, -1].values

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=42)

#### **Ajuste del desbalanceo** 
Se realiza un desbalanceo de los datos con la finalidad de mejorar la capacidad del modelo para generalizar y dar predicciones precisas.  
- **Sobremuestreo de la clase minoritaria (Oversampling)**  
consiste en incrementar el número de muestras en la clase minoritaria duplicando algunas de ellas. Se utiliza la técnica SMOTE

In [6]:
from imblearn.over_sampling import SMOTE
# Crear el objeto SMOTE 
smote = SMOTE(random_state=42)

# Aplicar SMOTE a los conjuntos de entrenamiento 
X_train_res, y_train_res = smote.fit_resample(X_train, y_train)

#### **Diseño de la Arquitectura de la RNA**

Diseñaremos una red neuronal con una capa oculta que aprenderá características útiles de los datos, seguida de una capa de salida que realizará la clasificación. Utilizaremos técnicas avanzadas como la regularización y el ajuste de hiperparámetros para mejorar el rendimiento del modelo.

#### **Construcción del Modelo**

In [7]:
model = tf.keras.Sequential([
    tf.keras.layers.Dense(16, activation='relu', input_shape=(X_train.shape[1],)),  # Capa oculta
    tf.keras.layers.Dense(1, activation='sigmoid')  # Capa de salida para clasificación binaria
])

**Justificación:** La capa oculta utiliza 16 neuronas y la función de activación ReLU, que es eficiente para capturar relaciones no lineales. La capa de salida utiliza una única neurona con sigmoide, adecuada para problemas de clasificación binaria.